In [1]:
import pandas as pd
import numpy as np 
import pandas_ta as ta 
import random 
import matplotlib.pyplot as plt

In [10]:
df = pd.DataFrame(index = [1,2] , data= [[2,3,4.3444,5], [2,5,1,3]])

In [11]:
df

   0  1       2  3
1  2  3  4.3444  5
2  2  5  1.0000  3

In [13]:
 df.style.format('{:.2f}')

In [14]:
df.round()

   0  1    2  3
1  2  3  4.0  5
2  2  5  1.0  3