In [1]:
import datetime

import numpy as np
import pandas_datareader.data as web
from IPython.display import VimeoVideo

In [12]:
from sympy import Symbol,integrate

In [5]:
x = Symbol('x')

In [10]:
x**2

x**2

In [13]:
integrate(x**2 )

x**3/3

In [18]:
from sympy import Integral, sqrt

In [15]:
Integral(x**2,x)

Integral(x**2, x)

In [16]:
y = Symbol('y')

In [17]:
Integral(x**2,y)

Integral(x**2, y)

In [19]:
sqrt(x)

sqrt(x)

In [ ]:
Integral(x**2,x)

In [20]:
# start = datetime.date.today()-datetime.timedelta(365*10)
# end = datetime.date.today()
start = datetime.date(2011, 11, 25)
end = datetime.date(2021, 11, 22)

prices = web.DataReader(["^GSPC", "^RUT"], "yahoo", start, end)["Adj Close"]

# Rename column to make names more intuitive
prices = prices.rename(columns={"^GSPC": "SP500", "^RUT": "Russell2000"})

In [21]:
prices

Symbols           SP500  Russell2000
Date
2011-11-25  1158.670044   666.159973
2011-11-28  1192.550049   697.900024
2011-11-29  1195.189941   696.099976
2011-11-30  1246.959961   737.419983
2011-12-01  1244.579956   730.750000
...                 ...          ...
2021-11-16  4700.899902  2405.020020
2021-11-17  4688.669922  2377.010010
2021-11-18  4704.540039  2363.590088
2021-11-19  4697.959961  2343.159912
2021-11-22  4682.939941  2331.350098

[2515 rows x 2 columns]