In [32]:
import pandas as pd
import numpy as np
eia_key = r'KhUGeRcdKwP8WpygPCSDasWyaRburTqyE9er7aUN'
import requests

In [ ]:
production_data =

In [34]:
prod_data = requests.get(r'https://api.eia.gov/v2/petroleum/crd/crpdn/data/?frequency=monthly&data[0]=value&start=2023-01&sort[0][column]=period&sort[0][direction]=desc&offset=0&length=5000&api_key={}'.format(eia_key))

In [40]:
prod_data_df = pd.DataFrame(peod_data.json()['response']['data'])

In [4]:
import eia
# the API key we recieved from EIA
# Initiates a session with the EIA datacenter to recieve datasets
eia_api = eia.API(eia_key)

In [5]:
eia_data = pd.DataFrame(eia_api.data_by_series(series='TOTAL.COEXPUS.M'));

KeyError: 'series'

In [7]:
from fredapi import Fred
# FRED API key
fred_key = r'484b16395bfa70e86d649f7d42dc1d4b'
# Initiates a session with the FRED datacenter to recieve datasets
fred = Fred(api_key=fred_key);
# Retrieve data from FRED API
fred_data = pd.DataFrame(fred.get_series('WTISPLC'), columns=['WTISPLC']);

In [8]:
fred_data

            WTISPLC
1946-01-01     1.17
1946-02-01     1.17
1946-03-01     1.17
1946-04-01     1.27
1946-05-01     1.27
...             ...
2023-08-01    81.39
2023-09-01    89.43
2023-10-01    85.64
2023-11-01    77.69
2023-12-01    71.90

[936 rows x 1 columns]

In [16]:
price = fred_data['WTISPLC']
price_diff = price.diff()[1:];
# Replacing the change with 1 if positive, else 0

In [17]:
e_seq = np.array(price_diff.apply(lambda x: 1 if x > 0 else 0).values);

In [18]:
import hmms
dhmm_r = hmms.DtHMM.random(3 , 2);
e_seq = np.array_split(e_seq, 32);
dhmm_r.baum_welch(e_seq, 100);
hmms.print_parameters( dhmm_r );
( log_prob, s_seq ) = dhmm_r.viterbi(np.concatenate(e_seq).ravel());

iteration  1 / 100
iteration  2 / 100
iteration  3 / 100
iteration  4 / 100
iteration  5 / 100
iteration  6 / 100
iteration  7 / 100
iteration  8 / 100
iteration  9 / 100
iteration  10 / 100
iteration  11 / 100
iteration  12 / 100
iteration  13 / 100
iteration  14 / 100
iteration  15 / 100
iteration  16 / 100
iteration  17 / 100
iteration  18 / 100
iteration  19 / 100
iteration  20 / 100
iteration  21 / 100
iteration  22 / 100
iteration  23 / 100
iteration  24 / 100
iteration  25 / 100
iteration  26 / 100
iteration  27 / 100
iteration  28 / 100
iteration  29 / 100
iteration  30 / 100
iteration  31 / 100
iteration  32 / 100
iteration  33 / 100
iteration  34 / 100
iteration  35 / 100
iteration  36 / 100
iteration  37 / 100
iteration  38 / 100
iteration  39 / 100
iteration  40 / 100
iteration  41 / 100
iteration  42 / 100
iteration  43 / 100
iteration  44 / 100
iteration  45 / 100
iteration  46 / 100
iteration  47 / 100
iteration  48 / 100
iteration  49 / 100
iteration  50 / 100
iteration  51 / 100
iteration  52 / 100
iteration  53 / 100
iteration  54 / 100
iteration  55 / 100
iteration  56 / 100
iteration  57 / 100
iteration  58 / 100
iteration  59 / 100
iteration  60 / 100
iteration  61 / 100
iteration  62 / 100
iteration  63 / 100
iteration  64 / 100
iteration  65 / 100
iteration  66 / 100
iteration  67 / 100
iteration  68 / 100
iteration  69 / 100
iteration  70 / 100
iteration  71 / 100
iteration  72 / 100
iteration  73 / 100
iteration  74 / 100
iteration  75 / 100
iteration  76 / 100
iteration  77 / 100
iteration  78 / 100
iteration  79 / 100
iteration  80 / 100
iteration  81 / 100
iteration  82 / 100
iteration  83 / 100
iteration  84 / 100
iteration  85 / 100
iteration  86 / 100
iteration  87 / 100
iteration  88 / 100
iteration  89 / 100
iteration  90 / 100
iteration  91 / 100
iteration  92 / 100
iteration  93 / 100
iteration  94 / 100
iteration  95 / 100
iteration  96 / 100
iteration  97 / 100
iteration  98 / 100
iteration  99 / 100
iteration  100 / 100

Initial probabilities (π) :

          0
0  0.491971
1  0.017999
2  0.490030

Transition probabilities matrix (A):

              0         1         2
0  9.931315e-01  0.006489  0.000379
1  8.572887e-30  0.144108  0.855892
2  1.414822e-33  0.126032  0.873968

Emission probabilities matrix (B):

          0         1
0  0.935299  0.064701
1  0.582353  0.417647
2  0.419897  0.580103

In [27]:
#np.concatenate(e_seq).ravel()

AttributeError: module 'numpy' has no attribute 'int'.
`np.int` was a deprecated alias for the builtin `int`. To avoid this error in existing code, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [29]:
price_plot = pd.DataFrame(price[1:], index=price[1:].index);
# Add a column representing the regime
price_plot['Regime'] = s_seq;
# Add a column representing the increase or decrease in price
price_plot['diff'] = price_diff;

NameError: name 's_seq' is not defined

In [ ]:
hmms.print_parameters( dhmm_r );
( log_prob, s_seq ) = dhmm_r.viterbi(np.concatenate(e_seq).ravel());